absl-py==2.1.0
accelerate==0.28.0
aiohttp==3.9.3
aiosignal==1.3.1
arrow==1.3.0
async-timeout==4.0.3
attrs==23.2.0
bert-score==0.3.13
boto3==1.34.46
botocore==1.34.46
bravado==11.0.3
bravado-core==6.1.1
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.3
cmudict==1.0.18
codecarbon==2.1.4
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
Cython==3.0.8
datasets==2.9.0
dill==0.3.6
einops==0.7.0
evaluate==0.4.1
filelock==3.13.1
fire==0.5.0
flash-attn==2.5.5
fonttools==4.49.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2023.5.0
future==1.0.0
fuzzywuzzy==0.18.0
gitdb==4.0.11
GitPython==3.1.42
graphviz==0.20.1
huggingface-hub==0.20.3
idna==3.6
importlib-metadata==6.11.0
importlib-resources==6.1.1
isoduration==20.11.0
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
jsonpointer==2.4
jsonref==1.1.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
Levenshtein==0.25.0
lxml==5.2.2
MarkupSafe==2.1.5
matplotlib==3.8.3
monotonic==1.6
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.5
multiprocess==0.70.14
neptune==1.9.1
networkx==3.2.1
ninja==1.11.1.1
nlg-metricverse==0.9.9
nltk==3.7
numpy==1.26.4
oauthlib==3.2.2
optree==0.10.0
pandas==2.2.0
pillow==10.2.0
portalocker==2.8.2
py-cpuinfo==9.0.0
pyarrow==15.0.0
pyemd==1.0.0
PyJWT==2.8.0
pynvml==11.5.0
pyparsing==3.1.1
pyphen==0.14.0
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0.1
rapidfuzz==3.6.1
referencing==0.33.0
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rjsonnet==0.5.3
rouge-score==0.1.2
rpds-py==0.18.0
s3transfer==0.10.0
sacrebleu==2.4.2
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
simplejson==3.19.2
smmap==5.0.1
swagger-spec-validator==3.0.3
syllables==1.0.9
sympy==1.12
tabulate==0.9.0
termcolor==2.4.0
textstat==0.7.3
threadpoolctl==3.3.0
tokenizers==0.15.2
tqdm==4.66.2
traitlets==5.14.1
transformers==4.38.0
triton==2.2.0
types-python-dateutil==2.8.19.20240106
typing==3.7.4.3
typing_extensions==4.9.0
tzdata==2024.1
uri-template==1.3.0
urllib3==2.0.7
validators==0.22.0
wcwidth==0.2.13
webcolors==1.13
websocket-client==1.7.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.17.0
